.users-grid {
    grid-template-columns: 48px 72px minmax(96px, 1fr) minmax(96px, 1fr) 40px;

    @screen sm {
        grid-template-columns: 48px 72px minmax(150px, 1fr) minmax(150px, 1fr) 72px;
    }

    @screen md {
        grid-template-columns: 48px 72px minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr) 72px;
    }

    @screen lg {
        grid-template-columns: 48px 72px minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr) 72px;

    }
}
